<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <title> SVG Gallery </title>
    </head>
    <body>
            <div class="grid-container">
                <header class = "header">
                    <div class="brand">
                        <a href="Result.html">SVG Gallery</a>
                    </div>
                    
                   
                </header>
            <div class="pages">
                <a href="about.html">About</a>
                <a style="padding: 0.7rem;" href="photos.html">Photos</a>
                 <a style="padding: 0.7rem;" href = "https://drive.google.com/file/d/1peZ7Wo3C0prGInFcgY54dOVCNRBxsj8w/view?usp=sharing" target="_blank" > Result Table </a>
                 <a style="padding: 0.7rem;" href="https://drive.google.com/drive/folders/1iKy-94ITHD8P9nNE8NL5jvh3JEcZQ76S" target="_blank"> Drive </a>
                   
                 <i class="fa fa-github" style="font-size:24px; padding: 0.9rem;"></i>
                <a style="padding: 0.2rem;" href = "https://github.com/Xeniia-m/miniProject" target="_blank" > GitHub</a>
            </div>
                <main class="main">
                    <div class="myGallery">
	place for svg
                    </div>
                </main>
                <footer class="footer">
                    Topics in Digital Humanities, Fall 2021
                    
                </footer>
                <footer class="footer2">
                    Publisher: Kseniia Martin, 
                    Advisor: Yael Netser
                </footer>
            </div>
    </body>
</html>
